<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="onBackClick()">arrow_back</mat-icon>
    </button>
</mat-toolbar>
<div class="user-container" *ngIf="userDetails">
    <mat-card>
        <mat-card-title>Person Info</mat-card-title>
        <mat-card-content>
            <h3>Name</h3>
            <p>{{ userDetails.name }}</p>
            <h3>Username</h3>
            <p>{{ userDetails.username }}</p>
            <h3>Email</h3>
            <p>{{ userDetails.email }}</p>
            <h3>Phone</h3>
            <p>{{ userDetails.phone }}</p>
            <h3>Website</h3>
            <p>{{ userDetails.website }}</p>
        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-title>Address</mat-card-title>
        <mat-card-content>
            <h3>Street</h3>
            <p>{{ userDetails.address.street }}</p>
            <h3>Suite</h3>
            <p>{{ userDetails.address.suite }}</p>
            <h3>City</h3>
            <p>{{ userDetails.address.city }}</p>
            <h3>Zipcode</h3>
            <p>{{ userDetails.address.zipcode }}</p>
            <h3>Lat</h3>
            <p>{{ userDetails.address.geo.lat }}</p>
            <h3>Lng</h3>
            <p>{{ userDetails.address.geo.lng }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Company</mat-card-title>
        <mat-card-content>
            <h3>Name</h3>
            <p>{{ userDetails.company.name }}</p>
            <h3>CatchPhrase</h3>
            <p>{{ userDetails.company.catchPhrase }}</p>
            <h3>Bs</h3>
            <p>{{ userDetails.company.bs }}</p>
        </mat-card-content>
    </mat-card>
</div>
<div class="btn-container">
    <button mat-raised-button color="primary" (click)="onButtonClick()">
        მომხმარებლის პოსტები
    </button>
</div>